@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Courier Prime";
  color: rgb(var(--foreground-rgb));
  background-color: black;
}

.noise-gradient-container {
  background: url("/Group.svg") center center;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

@font-face {
  font-family: "Courier Prime";
  src: url("/fonts/CourierPrime-Regular.ttf") format("truetype");
}
