@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

  background: linear-gradient(270deg, #5d0006 50%, #000000 100%);
  font-family: "Courier Prime";
  color: rgb(var(--foreground-rgb));
  background-color: black;
}

@font-face {
  font-family: "Courier Prime";
  src: url("/fonts/CourierPrime-Regular.ttf") format("truetype");

}
